@charset 'UTF-8';

/************************ヘッダーのメニュー************************************/

.menu {
    background-color: rgba(137, 137, 136, 0.5);
  }

  .menu ul {
    list-style: none; /* リストマーカーを削除 */
  }

  /****************************************************************************/
  .container {
    margin: 0 auto;    
}

/****************************もくじ***********************************************/
h2 {
    border-bottom:1px solid #53dbf3;
  }

  /*トップ画面の目次*/
  .main_nav ul {
    gap: 15px;
    margin: 0 auto;
    text-decoration-style: none;
  }

  .main_nav li {
    width: 300px;
    flex: wrap;  
  }

  /*コンテンツのもくじ*/
nav ul {
    gap: 5px;
    width: 90%;
    margin: 0 auto;
    text-decoration-style: none;    
}

nav li {    
    flex: wrap;  
    border-bottom: 2px solid #c9f1c9;
  }

li a {
flex-basis: 95%;
}

/*********************吹き出し 全体**********************/
.chat {
    margin-bottom: 2em;    
  }

.chat:before, .chat:after {
clear: both;
content: '';
display: block;
}
  
  