@charset 'UTF-8';
/**コンテナー************/
.container {
  margin: 0 auto;
}

/*タイトル*/
h1 {
  padding-top: 10%;
}

/*topメニュー*/
.menu {
  width: 30%;
  margin: 0 auto;
  font-size: large;
}

/*あしあとメニュー*/
/* .footprints {
  float: right;
} */

/* .realsample {
  margin: 0 auto;
} */



/*セリフの枠*/
.corner {
  border-radius: 10px;
}

/*会話▼の位置固定*/
.confirm {
  top: 70%;
  left: 38%;
}



/*はい、いいえ選択肢*************/
.yesno {
  opacity: 0.8;
  top: -10%;
}

.yesnochild {
  top: 53%;
  left: 15%;
  width: 8%;
}


/*画像******************************/
/* 画像を横並びにする */
div.img_box {
  display: flex; 
  
}

.images {
  width: 400px;
  margin-left: 25%;
}

.slimeside {
  margin-left: 8%;
}

/*コードの位置**************/
/* .code-toolbar {
  padding: 0 15%;
  background-color: black;
} */

.codearea {
  padding: 0 15%;
  background-color: black;
}

/*************幅px以下のレイアウト*********************************/

